* {
  margin: 0;
  padding: 0;
}

body {
  text-align: center;
  display: inline;
  vertical-align: top;
  font-family: 'Open Sans';
  color: #000411;
}

.aboutme,
.content {
  float: left;
  height: 100vh;
  padding: 15px;
  box-sizing: border-box;
}

.aboutme {
  width: 30%;
  min-width: 320px;
  background-color: #e1efe6;
  border-right: 2px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.aboutme h1 {
  font-size: 4vw;
  margin-top: 1vh;
}

.aboutme img {
  margin-top: 10px;
}

#socials {
  margin-top: 10px;
  display: inline-flex;
}

#socials img {
  clear: left;
  margin: 1vw;
  width: 4vw;
  height: 4vw;
}

#socials:hover img:not(:hover) {
  opacity: 0.5;
}

.content {
  width: 70%;
  justify-content: center;
  background: #33658a;
  font-family: 'Open Sans';
}

.content div {
  /* position: relative;
  top: 10px;
  width: 50%;
  display: flex; */
  top: 10px;
}

.content .card {
  background-color: hsl(0, 0%, 90%);
  margin: 30px auto;
  height: 75vh;
  width: 30vw;
  border-radius: 15px;
}

.content div button {
  margin: 0 10px;
  font-family: 'Open Sans';
}

button {
  font-size: 16px;
  padding: 4px;
  background-color: hsl(0, 0%, 80%);
  border: 1px solid black;
  border-radius: 10px;
}

button:hover {
  background-color: hsl(0, 0%, 65%);
}
